
/* SBAR view */

.sbar-container .row {
  margin-left: 0;
  margin-right: 0;
}

.sbar-left-adjusted-column {
  padding-left: 0;
  padding-right: 30px
}

.sbar-right-adjusted-column {
  padding-left: 30px;
  padding-right: 0;
}


/* Header */

.sbar-header {
  margin-bottom: 10px;
}

.sbar-header-right {
  font-size: 14px;
  padding: 3px 0;
}

.sbar-header-info {
  display: inline-block;
  max-width: 60%;
} 

.sbar-header-info p {
  display: inline-block;
  margin: 0;
} 



/* Checkbox progress */

.sbar-header-progress {
  float: right;
  height: 20px;
}

.sbar-header-progress-label {
  float: left;
  height: 20px;
  margin-right: 10px;
}

.sbar-header-progress-bar {
  width: 100px;
  margin: 0;
  float: left;
}

.sbar-header-progress-bar-field {
  height: 20px;
  margin: 0;
  float: left;
}

.sbar-header-complete-sbar {
  margin: -2px 0;
}

.sbar-header-complete-sbar button {
  padding: 2px 10px;
}

.sbar-header-complete-sbar button:after {
  content: "Complete SBAR";
}


/* Boxes */

.sbar-box {
  margin: 10px 20px;
}

.sbar-left-box {
  margin-right: 10px;
}

.sbar-right-box {
  margin-left: 10px;
}


/* SBAR Letter Boxes */

.sbar-letter-box-header {
  line-height: 18px;
  padding: 5px 0;
}

.sbar-letter-box-header-capital {
  font-size: 24px;
}

.sbar-letter-box-header h2 {
  display: inline-block;
}


/* SBAR Letter Boxes Content */

.sbar-letter-box-content {
  min-height: 200px;
  font-size: 12px;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;   
  user-select: none; 
}

.sbar-letter-box-left-content {
  padding-left: 0;
  padding-right: 10px
}

.sbar-letter-box-right-content {
  padding-right: 0;
  padding-left: 10px
}

.sbar-letter-box-content-header {
  font-size: 14px;
  margin-bottom: 5px;
}

.sbar-organ-icon {
  height: 25px;
  width: 25px;
  margin-right: 5px;
}


/* Content inputs */ 

.sbar-checkbox-field {
  width: 100%;
  min-height: 20px;
}

.sbar-checkbox-field label {
  font-weight: 100;
  margin-left: 5px;
  margin-bottom: 0;
  line-height: 18px;
}

.sbar-assessment-note {
  margin-right: 30px;
}

.organ-row .sbar-assessment-note {
  line-height: 25px;
}


/* Expandable row */

.sbar-expandable-row-content {
  padding: 10px;
  margin: 5px 0 20px 0;
} 

.sbar-expandable-row .glyphicon {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 10px;
}

.sbar-expandable-row * {
  cursor: pointer;
}


/* Encounter row */

.sbar-encounter-label {
  overflow: hidden;
  width: auto;
}

.sbar-encounter-label-left {
  width: 65%;
  vertical-align: top;
}

.sbar-encounter-label-right {
  width: 30%;
  text-align: right;
    vertical-align: top;
}



/* SBAR Checkboxes */

.sbar-container input[type=checkbox] {
  vertical-align: top;
  margin-top: 0;
  float: left;
}

.sbar-letter-box-header input[type=checkbox] {
  vertical-align: bottom !important;
  margin-left: 10px;
  margin-bottom: 2px;
  float: none;
}

.sbar-organ-list input[type=checkbox] {
  margin-top: 5px;
}


/* SBAR Cockpit light */

.sbar-cockpit-light {
  font-size: 10px;
  position: relative;
}

.sbar-cockpit-light .light-observation-box-container {
  height: 110px;
  padding: 0 10px;
}

.sbar-cockpit-light .light-observation-header {
  font-size: 14px;
  padding: 5px 0;
}

.sbar-cockpit-light .light-live-observations-indicator {
  margin-top: 10px;
  right: 12px;
  width: 8px;
  height: 8px;
}

.sbar-cockpit-light .light-observation-col-left {
  width: 34%;
}

.sbar-cockpit-light .light-observation-minmax {
  margin-right:0;
  font-size: 10px;
}

.sbar-cockpit-light .light-observation-min {
  margin-top: 45px;
}

.sbar-cockpit-light .light-observation-col-middle {
  padding-right: 0;
  width: 32%;
}

.sbar-cockpit-light .light-observation-regression {
  display:none;
}

.sbar-cockpit-light .light-observation-primarydata {
  font-size: 28px;
  line-height: 28px;
}

.sbar-cockpit-light #light-blood-pressure-box .light-observation-primarydata {
  font-size: 26px;
  line-height: 20px;
}

.sbar-light-button-box-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background: rgba(24, 24, 24, 0.8);
}



/* Responsive design */

@media (max-width: 992px) {

  /* Boxes */

  .sbar-left-box {
    margin-right: 20px;
  }

  .sbar-right-box {
    margin-left: 20px;
  }
}


@media (max-width: 767px) {
  
  /* Header */

  .sbar-header-info {
    max-width: 80%;
  }

  .sbar-header-progress-bar {
    display: none;
  }

  .sbar-header-progress-label {
    font-size: 18px;
  }

  .sbar-header-complete-sbar button:after {
    content: 'Done';
  }


   /* Content */

  .sbar-letter-box-right-content {
    padding:0;
    margin-top: 20px;
  }

  .sbar-assessment-note {
    margin: 0;
  }

  .sbar-expandable-row .glyphicon {
    display: none;
  }

}
